{% capture content %}
    <h2>{{ post.title }}</h2>
    <p>{{ post.excerpt }}</p>
<!--    <p>{{ post.tags | join: "," }}</p>-->
<!--    <p>{{ post.categories | join: ", " }}</p>-->
    <ul class="actions stacked">
        <li><a href="{{ post.url | relative_url }}" class="button">More...</a></li>
    </ul>
{% endcapture %}

{% include base/vars/image-url.html
  folders = post.categories
  image = post.image
%}

{% include base/spotlight.html
    style=post.preview.style
    image-on=post.preview.image-on
    content-align=post.preview.content-align
    image-align=post.preview.image-align
    height=post.preview.height
    image=image_url
    image_alt=post.image_alt
    bgcolor=post.preview.bgcolor
    extra_modifiers=post.preview.modifiers
    content=content
%}
