{% case include.style %}
    {% when "half" %}
        {% assign styleN = 1 %}
    {% when "boxed" %}
        {% assign styleN = 2 %}
    {% when "circle" %}
        {% assign styleN = 3 %}
    {% when "phone" %}
        {% assign styleN = 4 %}
    {% when "full" %}
        {% assign styleN = 5 %}
    {% else %}
        {% assign styleN = 1 %}
{% endcase %}

{% include base/vars/bgcolor.html %}

{% include base/vars/content-align.html %}

{% include base/vars/image-align.html %}

{% include base/vars/image-on.html %}

<section class="banner style{{ styleN }}
    fullscreen
    {{ image-on }}
    {{ content-align }}
    {{ image-align }}
    {{ bgcolor }}
    {{ modifiers }}
    {{ include.extra_modifiers }}">
    <div class="content">
        {{ include.content }}
    </div>
    <div class="image">
        <img src="{{ include.image }}" alt="{{ include.image_alt }}" />
    </div>
</section>
