{% comment %}
/*

  This is a Banner element, and it's generally used as an introduction or opening statement.
  
*/
{% endcomment %}

{% case include.style %}
    {% when "half" %}
        {% assign styleN = 1 %}
    {% when "boxed" %}
        {% assign styleN = 2 %}
    {% when "circle" %}
        {% assign styleN = 3 %}
    {% when "phone" %}
        {% assign styleN = 4 %}
    {% when "full" %}
        {% assign styleN = 5 %}
    {% else %}
        {% assign styleN = 1 %}
{% endcase %}

{% case include.height %}
    {% when "full" %}
        {% assign height = "fullscreen" %}
    {% when "half" %}
        {% assign height = "halfscreen" %}
    {% else %}
        {% assign height = "half" %}
{% endcase %}

{% include base/vars/bgcolor.html %}

{% include base/vars/fgcolor.html %}

{% include base/vars/content-align.html %}

{% include base/vars/image-align.html %}

{% include base/vars/image-on.html %}

<section class="banner style{{ styleN }}
  {{ height }}
  {{ image-on }}
  {{ content-align }}
  {{ image-align }}
  {{ bgcolor }}
  {{ fgcolor }}
  {{ include.modifiers }}">
  <div class="content">
      {{ include.content }}
  </div>
  <div class="image">
      <img src="{{ include.image }}" alt="{{ include.image_alt }}" />
  </div>
</section>
