{% case include.style %}
    {% when "square" %}
        {% assign styleN = 1 %}
    {% when "circle" %}
        {% assign styleN = 2 %}
    {% when "phone" %}
        {% assign styleN = 3 %}
    {% when "full" %}
        {% assign styleN = 4 %}
    {% when "full-padding" %}
        {% assign styleN = 5 %}
    {% else %}
        {% assign styleN = 1 %}
{% endcase %}

{% case include.bgcolor %}
    {% when "dark_grey" %}
        {% assign bgcolor = "color1" %}
    {% when "pink" %}
        {% assign bgcolor = "color2" %}
    {% when "purple" %}
        {% assign bgcolor = "color3" %}
    {% when "violet" %}
        {% assign bgcolor = "color4" %}
    {% when "blue" %}
        {% assign bgcolor = "color5" %}
    {% when "cyan" %}
        {% assign bgcolor = "color6" %}
    {% when "green" %}
        {% assign bgcolor = "color7" %}
    {% when "black" %}
        {% assign bgcolor = "invert" %}
    {% else %}
        {% assign bgcolor = "" %}
{% endcase %}

{% case include.content-align %}
    {% when "left" %}
        {% assign content-align = "content-align-left" %}
    {% when "center" %}
        {% assign content-align = "content-align-center" %}
    {% when "right" %}
        {% assign content-align = "content-align-right" %}
    {% else %}
        {% assign content-align = "content-align-left" %}
{% endcase %}

{% case include.image-align %}
    {% when "left" %}
        {% assign image-align = "image-position-left" %}
    {% when "center" %}
        {% assign image-align = "image-position-center" %}
    {% when "right" %}
        {% assign image-align = "image-position-right" %}
    {% else %}
        {% assign image-align = "image-position-left" %}
{% endcase %}

{% case include.image-on %}
    {% when "left" %}
        {% assign image-on = "orient-right" %}
    {% when "right" %}
        {% assign image-on = "orient-left" %}
    {% else %}
        {% assign image-on = "orient-left" %}
{% endcase %}

{% case include.height %}
    {% when "full" %}
        {% assign height = "fullscreen" %}
    {% when "half" %}
        {% assign height = "halfscreen" %}
    {% else %}
        {% assign height = "half" %}
{% endcase %}


<section class="spotlight style{{ styleN }}
    {{ image-on }}
    {{ content-align }}
    {{ image-align }}
    {{ height }}
    {{ bgcolor }}
    {{ include.modifiers }}
    {{ include.extra_modifiers }}">
    <div class="content">
        {{ include.content }}
    </div>
    <div class="image">
        <img src="{{ include.image }}" alt="{{ include.image_alt }}" />
    </div>
</section>
