{% comment %}
/*

  This is a Spotlight element, and it's generally used – as its name implies –
    to spotlight a particular feature, subject, or pretty much whatever.

  It accepts different styles:
    *square* | circle | phone | full | full-padding.

  It accepts different heights:
    *half* | full

  It also accepts other options. Find them in README.

  It is used as:s
    ```
    {% include base/spotlight.html
        style= ...
        image-on= ...
        content-align= ...
        image-align= ...
        height= ...
        image= ...
        image_alt= ...
        bgcolor= ...
        extra_modifiers= ...
        content= ...
    %}
    ```

*/
{% endcomment %}

{% case include.style %}
    {% when "square" %}
        {% assign styleN = 1 %}
    {% when "circle" %}
        {% assign styleN = 2 %}
    {% when "phone" %}
        {% assign styleN = 3 %}
    {% when "full" %}
        {% assign styleN = 4 %}
    {% when "full-padding" %}
        {% assign styleN = 5 %}
    {% else %}
        {% assign styleN = 1 %}
{% endcase %}

{% case include.height %}
    {% when "full" %}
        {% assign height = "fullscreen" %}
    {% when "half" %}
        {% assign height = "halfscreen" %}
    {% else %}
        {% assign height = "half" %}
{% endcase %}

{% include base/vars/bgcolor.html %}

{% include base/vars/fgcolor.html %}

{% include base/vars/content-align.html %}

{% include base/vars/image-align.html %}

{% include base/vars/image-on.html %}

<section class="spotlight style{{ styleN }}
  {{ height }}
  {{ image-on }}
  {{ content-align }}
  {{ image-align }}
  {{ bgcolor }}
  {{ fgcolor }}
  {{ include.modifiers }}">
  <div class="content">
      {{ include.content }}
  </div>
  <div class="image">
      <img src="{{ include.image }}" alt="{{ include.image_alt }}" />
  </div>
</section>
